@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
.App{
  font-family: 'Roboto', sans-serif;
  
}

/* Menu */
header {
  border-bottom: 7px double #49364b;
 background-color:#54636e ;
 color: white;
 width: 100vw;
 font-size:30px;
}
#title{
  
}
header span{
  color: white
}
.nav-link.fw-bold{
  color: white
}
.active{
  background-color: lightgray;
  
}

.button:hover{
  text-decoration: underline;
  
}
.button{
  width: 150px;
}

#lang li{
  line-height: 55px;
}
/* login */
#hLogin{
  height:80vh;
}
#sizeLogin{
  width:30vw;
  
}
#sizeMenu{
  height:95vh;
}
#footer{
  height: 5vh;
}
/* footer */
#up{
  cursor: pointer;
  color: white;
}
#up:hover{
  background-color: white;
  color: black;
}
.font{
  font-size: 20px;
}
.border.size{
  font-size: 20px;
  background-color: #888888;
}
.border.size:active{
  font-size: 20px;
  background-color: #1b1b1b;
}
.detail.fond{
  border-bottom: 7px double #49364b;
   background-color:#fbe3d3 ;
}
.expDetail:not()h1{
  line-height: 30px;
  text-indent: 2em;
}
.expDetail li{
  line-height: 40px;
  text-indent: 2em;
}